/*
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!/Stupid Meme.png
!build.gradle
!.travis.yml
!/textures/
!/gradle.properties
!.gitattributes
!ASSETS_LICENSE.txt

src/generated/resources/\.cache/